{% extends 'portfolios/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block head_ext %}
<style>

.ccenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>
{% endblock %}

{% block content %}
<div class='ccenter'>
  <h2 style='text-align: center', class='mb-4'> Вход </h2>
  <form class="form-signin", method="post">
      {% csrf_token %}

      {{ auth_user_form.username }}
      {{ auth_user_form.password }}
    {% comment %}<input type="username" id="inputUsername" class="form-control" placeholder="Имя пользователья" required="" autofocus="">{% endcomment %}
    {% comment %}<input type="password" id="inputPassword" class="form-control mt-2" placeholder="Пароль" required="">{% endcomment %}
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Войти</button>
  </form>
</div>
{% endblock %}
