{% extends 'portfolios/base.html' %}

{% block title %}
{{ user.first_name }} {{ user.last_name }} &ndash; {{ profession.name }}
{% endblock %}

{% block head_ext %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script
 src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="http://css-tricks.com/examples/TextareaTricks/js/autoresize.jquery.min.js"></script>
<style> 
#autoresizing { 
  display: block; 
  overflow: hidden; 
  resize: none; 
} 
</style>

<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>
{{ user.first_name }}{% if profile.middle_name %} {{ profile.middle_name }}{% endif %} {{ user.last_name }}
&ndash;
{{ profession.name }}
</h2>
<div class="mb-3 mt-n2">
    <a class="text-muted" href="{% url 'user' user.username %}">@{{ user.username }}</a>
</div>

<h3>
  Описание профессии
</h3>
<p>
  {{ profession.description }}
</p>

<h3>
  Навыки и достижения
</h3>
<p>
  {% for paragraph in portfolio_descr %}
    {{ paragraph }}<br>
  {% endfor %}
</p>

<h3>
  Записи
</h3>

{% if is_owner %}
<div class='mb-3'>
<form method="post">
{% csrf_token %}

  <!--<input class="form-control mt-3 mb-3" type="text" placeholder="Заголовок" required=""></input>-->
  <!--<textarea id="autoresizing" class="form-control" placeholder="Расскажите о своих достижениях..." required=""></textarea> -->
  {{ post_form.title }}
  {{ post_form.content }}

  <button class="btn btn-primary mt-4" type='submit'>Опубликовать</button>
</form>
      
<script type="text/javascript"> 
    textarea = document.querySelector("#autoresizing"); 
    textarea.addEventListener('input', autoResize, false); 
    textarea.style.height = textarea.scrollHeight + 3 + 'px'; 
  
    function autoResize() { 
        this.style.height = 'auto'; 
        this.style.height = this.scrollHeight + 3 + 'px'; 
    } 
</script>
<div>
{% endif %}

{% if posts %}
<div class="mt-5">
{% for post in posts %}
<div class="blog-post mb-5"> 
    <h4><strong>{{ post.title }}</strong></h4>
    <p class="text-muted blog-post-meta mt-n2">{{ post.create_time }}</p>
    <div class="mt-3">
        {% for paragraph in post.content %}
        {{ paragraph }}<br>
        {% endfor %}
    </div>
<div class="mt-2">
    <big><a class="text-muted" href="{% url 'post' post.id %}"><i class="far fa-comment-alt"></i> {{ post.comments_qty }}</a></big>
</div>
</div> 
{% endfor %}
</div>
{% endif %}

{% endblock %}
